<div *ngFor="let skill of skills">
  <div class="title">{{skill.title}}</div>
  <p>{{skill.text}}</p>
</div>

<div>
  <table>
    <tr>
      <td>
        Skill Name:
        <!--<select (change)="onChange($event)">
        <option *ngFor="let skill of skills" [value]="skill.skillId">{{skill.name}}</option>
        </select>-->
        <input type="text" [(ngModel)]="skills.name" ><p>{{skills.name}}</p>
      </td>
    </tr>
  </table>
</div>
<div>
  <table>
    <tr>
      <td>
        Version: <input type="text" [(ngModel)]="skills.version" ><p>{{skills.version}}</p>
      </td>
    </tr>
  </table>
</div>
<div>
  <table>
    <tr>
      <td>
        Description: <input type="text" [(ngModel)]="skills.description" ><p>{{skills.description}}</p>
      </td>
    </tr>
  </table>
</div>
<div>
  <table>
    <tr>
      <td>
        <input type="button" name="submit" value="Submit" (click)="newSkill()" style="background-color: cornflowerblue">
      </td>
    </tr>
  </table>
</div>
