<div>
  <table border="1">
    <tr>
      <th>Skill Id</th>
      <th>Skill Name</th>
      <th>Version</th>
      <th>Description</th>
    </tr>
    <tr *ngFor="let skill of skills">
      <td>{{skill.skillId}}</td>
      <td>{{skill.name}}</td>
      <td>{{skill.version}}</td>
      <td>{{skill.description}}</td>
    </tr>
  </table>
</div>
<br>
<div class="container-fluid">
  <table>
    <tr>
      <td>
        <b>Skill Name:</b>
        <!--<select (change)="onChange($event)">
        <option *ngFor="let skill of skills" [value]="skill.skillId">{{skill.name}}</option>
        </select>-->
        <input type="text" [(ngModel)]="skills.name" >
      </td>
    </tr>

    <tr>
      <td>
        <b>Version:</b> <input type="text" [(ngModel)]="skills.version" >
      </td>
    </tr>

    <tr>
      <td>
        <b>Description:</b> <input type="text" [(ngModel)]="skills.description" >
      </td>
    </tr>

    <tr>
      <td>
        <input type="button" name="submit" value="Submit" (click)="newSkill()" style="background-color: cornflowerblue">
      </td>
    </tr>
  </table>
</div>
