<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div class="container-fluid">
    <table>
      <tr>
        <td>
          <b>Skill Category:</b>
          <select>
            <option>UI</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <b>Skill Sub Category:</b>
          <select>
            <option>reactJs</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <b>Location:</b>
          <select>
            <option>BLR</option>
            <option>HYD</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <input type="button" name="search" value="Search" style="background-color: cornflowerblue">
        </td>
      </tr>
    </table>
</div>
</body>
</html>
